# Node.js
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Database
backend/data/*.sqlite3
backend/temp_uploads/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
